
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}
.CalcDisplay{
  border: 2px solid rgb(51, 29, 29);
  height: 40px;
  border-radius: 20px;
  font-size: 2em;
  align-items: center;
  padding:0 10px;
  background: #b5bbbd;
  width: 975px;
  justify-content: flex-end;
  outline: 0;
  margin: 10px;
  
  
}
 .ButtonContainer {
  background: #3a4452;
  border: 0;
  outline: 0;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  margin: 10px;
  
  display: grid;
  grid-template-columns: 231px 231px 231px 231px;
  grid-template-rows:100px 100px 100px 100px;
  grid-auto-flow: row;
  gap: 30px 25px;

  



 }
 .CalcButton {
  
  display: flex;
  flex: 0 1 25%;
  font-size: 4em;
  justify-content: center;

  
 }
